name: reiwa-ci
on:
  #push:
  #  branches: [ v0.1.0-reiwa ]
  pull_request:
    branches: [ v0.1.0-reiwa ]
    types: [closed, opened, synchronize]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    environment: reiwa
    #env:
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          stable: 'true'
          go-version: '1.16.0'
      - name: test reiwa build
        id: reiwa-build
        #env:
        run: |
          export COMMON_ROOT=$(pwd)
          echo $COMMON_ROOT
          ln -s $COMMON_ROOT/lib/linux/crypto.so $COMMON_ROOT/test/libcrypto.so
          mkdir build && cd build
          cmake ./../
          make VERBOSE=1
          ./test && make install
          ./install/bin/libra & curl localhost:8080/index
        continue-on-error: true
      - name: ci report
        id: report
        run: |
          tree ./       
          cat build/CMakeFiles/CMakeError.log
      - name: pr merged
        if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
        id: pr-merged
        run: |
          echo pr has been merged and closed
